<header>
  <h1>Open Opus App</h1>

  <input
    type="text"
    placeholder="Enter composer's name"
    [(ngModel)]="search"
    autofocus
  />
  <button (click)="loadComposers()">Load composers</button>
  <button (click)="resetPage()">Reset</button>
</header>

<div class="search-container">
  <div *ngIf="search.length; else empty">
    <div class="composer-name-div" *ngFor="let composer of composers | filter: search">
      <a role="button" (click)="showComposer(composer.complete_name)">
        {{ composer.complete_name }}
      </a>
    </div>
  </div>
  <ng-template #empty></ng-template>
  
</div>

<hr />

<div *ngIf="composer.complete_name; else nocomposer">
  <div class="composer-card">
    <p>
      <b>{{ composer.complete_name | uppercase }}</b>
    </p>

    <p>({{ composer.birth | date:'YYYY' }} <em>-</em> {{ composer.death | date: 'YYYY' }})</p>

    <p style="font-size: 0.8em">
      <i>{{ composer.epoch }}</i>
    </p>
    <input
      type="text"
      placeholder="Enter work title"
      [(ngModel)]="searchWorks"
      autofocus
    />
    <button (click)="resetWorks()">Reset works</button>
   
      <mat-radio-group class="chooseGenre" > 
        <label >Choose by genre:</label>
        <mat-radio-button value="0" (click)="resetWorks()">All works</mat-radio-button>
        <mat-radio-button value="1" (click)="selectStage()">Stage</mat-radio-button>
        <mat-radio-button value="2" (click)="selectOrchestral()">Orchestral</mat-radio-button>
        <mat-radio-button value="3" (click)="selectChamber()">Chamber</mat-radio-button>
        <mat-radio-button value="4" (click)="selectKeyboard()">Keyboard</mat-radio-button>
        <mat-radio-button value="5" (click)="selectVocal()">Vocal</mat-radio-button>
      </mat-radio-group> 
    
    
      <div class="work-card" *ngFor="let w of works | worksFilter: searchWorks">          
        <p>{{ w.title }} <small>{{w.subtitle}} <i> {{ w.genre }}</i></small></p>
      </div>
    
  </div>
</div>
<ng-template #nocomposer></ng-template>
